<h1>Editing Post</h1>
<br>
<%= render 'form', post: @post %>

<br>
<p>
<a href = "<%= @posts%>" class="btn btn-primary"> Show</a>
</p>

<p>
<a href = "<%= posts_path%>" class="btn btn-primary"> Return to Posts list</a>
</p>